<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" href="#">Ma page Angular</a>
    </div>
    <input type="text" [(ngModel)]="marecherche" name="search" placeholder="Search.." (keyup)=onKeyPressed()>
  </div>
</nav>
<div class="navbarmask"></div>
<div *ngIf="data.length>0" class="preview">
  <div *ngFor="let item of data" (click)="onClick(item.id)">
    "{{item.title_short}}" de {{item.artist?.name}} sur l'album "{{item.album.title}}"
  </div>
</div>