
 <div class="container">
<div class="jumbotron">
    <h1>{{data.title}} </h1>
    <h2> {{data.artist.name}}</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
                {{data.album.title}}
        </div>
        <div class="col-6">
          <img src="{{data.album.cover}}" >
        </div>
    </div>
</div>


<div>
    {{data.cd?.title}}
</div>
<div>
    {{data.cd?  data.cd.title:"pas de cd" }}
</div>
<div>
    <img [src]="data.album.cover" >
</div>
<input [(ngModel)]="monInput">
<div [appHighlight]="'blue'">
    {{monInput}}
</div>
<div [ngStyle]="{'font-size':'40px','color':'red'}">hello in 40px</div>
<div>
    <button (click)="onClick($event)">click me </button>
</div>
<p [ngClass]="'one'">Using NgClass with String.</p>
<p [ngClass]="'one two'"> Using NgClass with String. </p>
<p [ngClass]="['one', 'two']"> Using NgClass with Array. </p>
<p [ngClass]="monInput">Using NgClass with String.</p>
<div [ngClass]="{'one': data.title=='allo', 'three':monInput=='test'}"> </div>

<div *ngFor="let element of tableau;  let i=index; let odd=odd;">
    <button (click)="onVote(element,i)">{{element.name}} {{i}} {{odd}}</button>

</div>
<p *ngIf="true">
    ngIf = true.
</p>
<p *ngIf="monIndex==2">
    mon index =2
</p>
<div [ngSwitch]="monIndex">
    <div *ngSwitchCase="0">switch 0</div>
    <div *ngSwitchCase="1">switch 1</div>
    <div *ngSwitchDefault>switch default</div>
</div>
<div >
 Nous sommes le {{maintenant|date :"d MMMM y" | uppercase}}
</div>

<div >
   J'ai {{13456|powtwo:{pow:"2",add:" ^3"} }} moutons;
</div><div >
    J'ai {{13456|powtwo}} moutons;
 </div>

 <div *ngFor="let element of tableau;  let i=index; let odd=odd;">
    <app-monitem [(name)]="element.name"> </app-monitem>
 </div>

 <ngb-datepicker #dp [(ngModel)]="model" (navigate)="Pickeddate = $event.next"></ngb-datepicker>

    <div>
        le {{model?.day}} {{model?.month}}
     </div>