<div class="container">
  <h1>login Form simple</h1>
  <form (ngSubmit)="submitsimple()" >
    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" [(ngModel)]="model.nom" name="name" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="mail">@mail</label>
      <input type="email" [(ngModel)]="model.mail" name="mail" class="form-control" id="mail"  required>
    </div>

    <div class="form-group">
      <label for="genre">Genre</label>
      <select class="form-control" id="genre" [(ngModel)]="model.genre" name="genre" required>
        <option *ngFor="let gen of genres" [value]="gen">{{gen}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Go</button>

  </form>
</div>


<div class="container">
  <h1>login Form simple</h1>
  <form (ngSubmit)="submitsimple()" #myform="ngForm" >
      <div [hidden]="myform.valid || myform.pristine"
      class="alert alert-danger">form non valide</div>
  

    <div class="form-group" >
      <label for="name">Nom</label>
      <input type="text" [(ngModel)]="model.nom" name="name" #name="ngModel" class="form-control" id="name" required>
    </div>
    <div [hidden]="name.valid || name.pristine"
    class="alert alert-danger">Nom non valide </div>

    <div class="form-group">
      <label for="mail">@mail</label>
      <input type="email" [(ngModel)]="model.mail" name="mail" class="form-control" #mail="ngModel"   id="mail" email required>
    </div>
    <div [hidden]="mail.valid || mail.pristine"
    class="alert alert-danger">mail non valide:  {{mail.errors|json}}</div>
    <div class="form-group">
      <label for="genre">Genre</label>
      <select class="form-control" id="genre" [(ngModel)]="model.genre" name="genre" required>
        <option *ngFor="let gen of genres" [value]="gen">{{gen}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Go</button>

  </form>
</div>
